.url {
    color: #00b0f4;
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}
.url:hover {
    text-decoration: underline;
}

.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}
.mention {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    color: #7289da;
    background: rgba(114,137,218,.1);

    cursor: pointer;
    transition: background-color 50ms ease-out,color 50ms ease-out;
}
.mention:hover {
    color: #fff;
    background-color: #7289da;
}

.messageAttachmentImage {
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 300px;
    border-radius: 4px;
}

.strong {
    font-weight: 700;
}
pre {
    background-color: #202225;
    border: none;
    margin: 6px 0 0 0;
    border-radius:4px;
    padding:0;
    box-sizing: border-box;
}
code {
    font-style: inherit;
    font-family: Consolas, Lucida Console, Courier New, Courier, monospace;
}
code.full {
    display: block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: .5em;
    color: #b9bbbe;
    box-sizing: border-box;
}
code.inline {
    background-color: #202225;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em;
    margin: -0.2em 0;
    color: #dcddde;
    box-decoration-break: clone;
}

.blockquoteContainer {
    display: flex;
}
.blockquoteLine {
    background-color: #4f545c;
    border-radius: 4px;
    width: 4px;
}
blockquote {
    margin: 0;
    padding: 0 8px 0 12px;
}

.spoiler, .spoilerHidden {
    border-radius: 3px;
    transition: all .1s ease;
    line-height: 1.375rem;
    word-wrap: break-word;
    box-decoration-break: clone;
}
.spoiler {
    background-color: hsla(0,0%,100%,.1);
}
.spoilerHidden {
    background-color: #202225;
    cursor: pointer;
}

/*---- - Embeds - ----*/
.embed {
    margin: 2px 0;
    box-sizing: border-box;
    max-width: 520px;
    border-left: 4px solid #202225;
    border-radius: 4px;
    background: #2f3136;
    padding: .5rem 1rem 1rem .75rem;
    color: #dcddde;

    display: inline-grid;
    grid-gap: 8px;
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
}
.embedTitle {
    color: white;
    margin-top: 8px;
    line-height: 1.375rem;
    font-size: 1rem;
    font-weight: 600;
    grid-column: 1/1;
}
.embedTitleLink {
    display: inline-block;
    color: #00b0f4;
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}
.embedTitleLink:hover {
    text-decoration: underline;
}
.embedDescription {
    margin-top: 8px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1/1;
}
.embedFields {
    margin-top: 8px;
    display: grid;
    grid-gap: 8px;
    grid-column: 1/1;
}
.embedFieldName {
    color: #fff;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    min-width: 0;
    word-wrap: break-word;
}
.embedFieldValue {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    word-wrap: break-word;
}
.embedImage {
    margin-top: 16px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 4px;
    grid-column: 1/3;
}
.embedThumbnail {
    margin-top: 8px;
    margin-left: 16px;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    grid-row: 1/8;
    grid-column: 2/2;
    justify-self: end;
}
.embedFooter {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    margin-top: 8px;
    grid-column: 1/3;
}